version: '3'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./config.db:/app/config.db
      - ./sessions.db:/app/sessions.db
      - ./debug.log:/app/debug.log
      - ./.env:/app/.env
    environment:
      - PORT=3000
    restart: unless-stopped

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command: "http app:3000"
    ports:
      - "4040:4040"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    depends_on:
      - app
